@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .about-containers,
    .about-details-container {
   
    display: block;
        
    }
}